@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="label">
<h2>Paciente</h2>
<br>

<p>Preencha o formulário abaixo com os seus dados, e <br> retornaremos o seu contato a seguir: </p>


    <label for="fname">Nome:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="fname">Sobrenome:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="fname">Email:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="fname">Telefone:</label><br>
    <input type="text" id="fname" name="fname"><br>

    <button class="botao">Enviar</button>
</div>

<div class="ligue">

    <h1>Ligue para gente</h1>
    <p>Fale com nosso atendimento</p>

    <h5>11 4002-8922</h5>

</div>